@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
}

.header {
  background: #607D8B;
  color: white;
  padding: 5vh 30px;

  .nav-link {
    color: white;
    font-size: 20px;
  }

  .nav-link:hover,
  .nav-link:focus {
    background: rgba(0,0,0,0.3);
  }

  .nav-pills .nav-item.open .nav-link,
  .nav-pills .nav-item.open .nav-link:hover,
  .nav-pills .nav-item.open .nav-link:focus {
    background: rgba(0,0,0,0.3);
  }
}

.wrapper {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;

  &__left {}

  &__center {
    max-width: 1140px;
    width: 100%;
  }

  &__right {}

  @media (max-width: 1300px) {
    &__left,
    &__right {
      display: none;
    }
  }
}

.footer {
  text-align: center;
  background: #607D8B;
  color: white;
  padding: 5vh 30px;
  flex: 0 0 auto;
}

.studentsRatings-Subject {

  &__subject {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    label:last-child {
      margin-left: 10px;
    }
  }

  &__filling {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    label {
      margin-left: 10px;
      text-align: center;
    }
  }
}